<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="{{url_for('static', filename='d3.v4.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <title></title>
  </head>
  <body>

    <div class="liveRun">
      <h3>Current Frequency Sweep</h3>

    </div>

    <div class="imageSC">

      <h3>Dispersion Figure</h3>
      <img id="img" src="/fig"
      >

    </div>

    <script type="text/javascript">

      var experiment = "{{experiment}}";
      var apiURL = "http://127.0.0.1:8001/postSweepData-"+experiment;
      var times = 500; // gap in Milli Seconds;

      function refresh(node)
        {
           var times = 1000; // gap in Milli Seconds;

           (function startRefresh()
           {
              var address;
              if(node.src.indexOf('?')>-1)
               address = node.src.split('?')[0];
              else
               address = node.src;
              node.src = address+"?time="+new Date().getTime();
              console.log("updating ImageSC");
              setTimeout(startRefresh,times);
           })();

        };
        window.onload = function()
        {
          var node = document.getElementById('img');

          refresh(node);

          // you can refresh as many images you want just repeat above steps
        };

      setInterval(refreshPlot, times);
      //refreshPlot();
      function refreshPlot() {
          d3.json(apiURL).get(function(error,plotData){
            var svgtest = d3.select(".liveRun").select("svg");
            if (!svgtest.empty()) {
              console.log("updating live plot!");
              svgtest.remove();
            }

            //console.log(plotData.fwd);

            var amplitudeFwd = plotData.fwd.A;
            var freqFwd = plotData.fwd.f;
            var amplitudeBkw = plotData.bkw.A;
            var freqBkw = plotData.bkw.f;

            var dataZipFwd = freqFwd.map(function (e,i) {return [e, amplitudeFwd[i]];});
            var dataZipBkw = freqBkw.map(function (e,i) {return [e, amplitudeBkw[i]];});

            //console.log(dataZipFwd,dataZipBkw);

            var height = 400;
            var width = 700;

            var max = d3.max(amplitudeFwd);
            var min = d3.min(amplitudeFwd);

            var minFreq = d3.min(freqFwd);
            var maxFreq = d3.max(freqFwd);

            var y = d3.scaleLinear()
                      .domain([min,max])
                      .range([300,0]);

            var x = d3.scaleLinear()
                      .domain([minFreq, maxFreq])
                      .range([0, 500]);

            var yAxis = d3.axisLeft(y);
            var xAxis = d3.axisBottom(x);

            var svg = d3.select(".liveRun").append("svg")
                                            .attr("class","liveRun");

            var margin = {left:100, right:50, top:40, bottom:0};

            var chartGroup = svg.append("g")
                                .attr("transform","translate("+margin.left+","+margin.top+")");

            var line= d3.line()
                        .x(function (d) {return x(d[0]);})
                        .y(function (d) {return y(d[1]);});

            chartGroup.append("path")
                      .attr("class","fwd")
                      .attr("d",line(dataZipFwd));
            chartGroup.append("path")
                      .attr("class","bkw")
                      .attr("d",line(dataZipBkw));

            chartGroup.append("g").attr("class","x axis")
                                  .attr("transform","translate(0,"+300+")")
                                  .call(xAxis);
            chartGroup.append("text")
                      .attr("transform","translate("+250+","+360+")")
                      .style("text-anchor", "middle")
                      .text("Frequency (MHz)");

            chartGroup.append("g").attr("class","y axis").call(yAxis);
            chartGroup.append("text")
                      .attr("transform", "rotate(-90)")
                      .attr("y", 0 - margin.left)
                      .attr("x",0 - (height / 2))
                      .attr("dy", "1em")
                      .style("text-anchor", "middle")
                      .text("Amplitude (nA)");
          });


      }
    </script>

  </body>
</html>
