<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <h1>Flask and matplotlib</h1>
      <h2>Random data with num_x_points={{num_x_points}}</h2>
      <form method=get action="/">
        <input name="num_x_points" type=number value="{{num_x_points}}" />
        <input type=submit value="update graph">
      </form>
      <h3>Plot as a png</h3>
      <img id="img" src="/matplot-as-image-{{num_x_points}}.png"
           alt="random points as png"
           height="200"
      >
      <h3>Plot as a SVG</h3>
      <img id="img" src="/matplot-as-image-{{num_x_points}}.svg"
           alt="random points as svg"
           height="200"
      >
      <h3>Disp as a SVG</h3>
      <img id="img" src="/matplot-as-disp-{{num_x_points}}.svg"
           alt="random points as svg"
           height="200"
      >
      <script>
        function refresh(node)
            {
               var times = 1000; // gap in Milli Seconds;

               (function startRefresh()
               {
                  var address;
                  if(node.src.indexOf('?')>-1)
                   address = node.src.split('?')[0];
                  else
                   address = node.src;
                  node.src = address+"?time="+new Date().getTime();

                  setTimeout(startRefresh,times);
               })();

            }
            window.onload = function()
            {
              var node = document.getElementById('img');
              refresh(node);
              // you can refresh as many images you want just repeat above steps
            }
      </script>
  </body>
</html>
